@import "./utils/colors";
@import "./utils/resets";
@import "./utils/fonts";
@import "./utils/mixins";

@import "./components/header";
@import "./components/indexMain";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolioMain";

body {
  background-color: $primary-color;
  color: $primary-text;
  font-size: $font-standard;
  letter-spacing: map-get($letter-spacing, standard);
}
.container {
  max-width: 1200px;
  min-width: 450px;
  margin: 0 auto;
}
